<ion-view view-title="RESERVEUP">
    <ion-content class="admindash">
        <br><br>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <a ui-sref="app.create"> 
                        Create new Restro 
                        </a>
                </ion-col>
                <ion-col col-6>
                    <a ui-sref="app.bookinglist" class="btn"> Check Bookings </a>
                </ion-col>
            </ion-row>
        </ion-grid>


    </ion-content>
</ion-view>